[Desktop Entry]
Encoding=UTF-8
Name=Renminbi
Comment=Renminbi P2P Cryptocurrency
Comment[fr]=Renminbi, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Renminbi, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/renminbi-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/renminbi;
Categories=Office;
